/* .container_div{
    width: 70%;
    
} */
.navdiv {
    margin-top: 10px;
  display: flex;
  width: 63%;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
}

.srchbtn {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

.navdrop {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-link:hover {
  color: blue;
}
#signup {
  color: blue;
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}
.ul_nav {
  display: flex;
  width: 60%;
  padding-left: 20px;
  gap: 25px;
  align-items: center;
}
.drop_text {
  color: black;
  text-decoration: solid;

  font-size: 16px;
}
.drop_text:hover {
  color: blue;
}

.content {
  
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 19%;
  padding-right: 19%;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.content_text {
  align-self: center;
  font-size: 70px;
}
.hstack {
  margin-right: 40px;
}
.stbtn {
  margin-top: 40px;
  margin-bottom: 20px;
}
.stbtn .btn {
  border-radius: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
.stbtn a {
  font-weight: 600;
}
.crsl {
  display: flex;
  width: 100%;
  margin-top: 30px;
  align-self: center;
  justify-content: center;
  height: 500px;
  margin-bottom: 30px;
}

.videos {
  align-self: center;
  padding-left: 170px;
  padding-right: 170px;
  width: 100%;
}

#ct2 {
  font-size: 40px;
  align-self: flex-start;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  font-weight: 700;
}
.randomimg{
    display: grid;

}